/* CSS DE A SECCION ACERCA DE */
/*IMPORTACION DE FUENTES */
@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

/* ELEMENTOS */
.about-1 {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-5%, -50%);
  height: auto;
  width: 100vh;
  text-align: justify;
}

.ph-img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-40vw, -20%);
  height: auto;
  width: 60vh;
  z-index: -2;
}

.logo-a {
  position: absolute;
  z-index: -3;
  height: 30vh;
  width: auto;
  transform: translate(-13vw, 0vh);
}

.progress-bar {
  width: 200px;
  height: 20px;
  border: 2px solid #ffffff;
  display: inline-block;
  overflow: hidden;
  position: absolute;
  transform: translate(-13vw, 50vh);
}

.progress {
  display: block;
  height: 100%;
  background-color: #fff;
  width: 50%;
}

h2 {
  font-size: 40px;
}

p {
  font-family: "Outfit", sans-serif;
}

/* BOTON GITHUB */
.btn-github {
  color: white;
  text-decoration: none;
  font-size: 25px;
  border: none;
  background: none;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(16vw, 0vh);
  cursor: pointer;
}

.btn-github::before {
  margin-left: auto;
}

.btn-github::after,
button::before {
  content: "";
  width: 0%;
  height: 2px;
  background: #fff;
  display: block;
  transition: 0.5s;
}

.btn-github:hover::after,
button:hover::before {
  width: 100%;
}
