/* CSS DE SECCION DE DESCARGA */
/* IMPORTACION DE FUENTES */

/* ELEMENTOS */

.bg-dw-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.bg-dw {
  width: auto;
  height: 150%;
  object-fit: cover;
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateY(0%);
  background-repeat: no-repeat;
}
